@page
@model ProjetGL.Pages.Technicien.AjouterPanneModel
@{
}
@{
    ViewData["Title"] = "Ajouter une Panne";
}

<h1>Ajouter une Nouvelle Panne</h1>

<form method="post">
    <div class="form-group">
        <label>Description</label>
        <input type="text" asp-for="NouvellePanne.Description" class="form-control" required />
    </div>

    <div class="form-group">
        <label>Date Signalement</label>
        <input type="date" asp-for="NouvellePanne.DateSignalement" class="form-control" required />
    </div>
    <div class="form-group">
        <label>Type</label>
        <select asp-for="NouvellePanne.Type" class="form-control">
            <option>Matériel</option>
            <option>Logiciel</option>
        </select>
    </div>
    <div class="form-group">
        <label>Statut</label>
        <select asp-for="NouvellePanne.Statut" class="form-control">
            <option>En attente</option>
            <option>En cours</option>
            <option>Résolu</option>
        </select>
    </div>
    <button type="submit" class="btn btn-success mt-2">Ajouter</button>
</form>