@page
@model ProjetGL.Pages.LoginModel
@{
}

<div class="container d-flex justify-content-center align-items-center vh-100">
    <div class="card shadow-lg p-5" style="max-width: 700px; width: 100%;">
        <h2 class="text-center mb-4">Authentification</h2>
        <form method="post">
            <div class="mb-4">
                <label class="form-label">Email</label>
                <input type="text" asp-for="User.Email" class="form-control" placeholder="Enter your email" />
                <span asp-validation-for="User.Email" class="text-danger"></span>
            </div>
            <div class="mb-4">
                <label class="form-label">Password</label>
                <input type="password" asp-for="User.Password" class="form-control" placeholder="Enter your password" />
                <span asp-validation-for="User.Password" class="text-danger"></span>
            </div>
            <div class="text-danger">
            </div>
            <div class="d-grid">
                <button type="submit" class="btn btn-success btn-lg">Connect</button>
            </div>
        </form>
        <div class="text-center mt-3">
            <p>Don't have an account? <a href="/Register">Register Now</a></p>
        </div>
    </div>
</div>